<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Best Films</title>
</head>
<body>

    <h1>Questi sono i migliori film:</h1>

    <section class="movies-list" th:if="${moviesId <= 0}">

        <ul th:each="movie : ${movies}">

            <li th:text="${movie}"/>

        </ul>        

    </section>

     <section class="movies-list" th:if="${moviesId > 0}">

        
            <p th:text="${movies[moviesId - 1]}"/>

          

    </section>
    
</body>
</html>